h1 {
    background-color: yellow;
    font-size: 44px;
    text-align: center
}

div:first-child {
    background-color: aqua;
}

div:nth-child(2n) {
    background-color: antiquewhite;
}