<style>
  header {
    padding: 20px;
  }
</style>
<header>
  <h1>Express + HBS</h1>
  {{!-- list of links Home About Contact --}}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>